.container {
  padding: 5%;
}

.notes {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.note {
  position: relative;
  box-sizing: border-box;
  width: 30%;
  padding: 4%;
  margin-bottom: 25px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.delete-note {
  position: absolute;
  right: -15px;
  top: -15px;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  color: red;
}

.form {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.textarea {
  display: block;
}

.btn {
  position: absolute;
  left: 235px;
  bottom: 5px;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
}

.refresh-notes {
  margin-bottom: 20px;
}
